# Python / Django
__pycache__/
*.py[cod]
*$py.class
venv/
ENV/
env/
.env
db.sqlite3
media/
staticfiles/

# Node / Frontend
node_modules/
dist/
build/
.eslintcache
.stylelintcache
*.local

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
